<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.0"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <login-config>
        <realm-name>acodihue</realm-name>
    </login-config>
    <security-role>
        <role-name>Coordinador</role-name>
    </security-role>
    <security-role>
        <role-name>Agente</role-name>
    </security-role>
    <security-role>
        <role-name>IT</role-name>
    </security-role>
    <security-role>
        <role-name>Administrador</role-name>
    </security-role>
    <servlet>
        <servlet-name>com.peopleapps.JAXRSConfiguration</servlet-name>
        <multipart-config>
            <max-file-size>35000000</max-file-size> <!--in bytes-->
            <max-request-size>218018841</max-request-size> <!--in bytes-->
            <file-size-threshold>0</file-size-threshold> <!--in bytes-->
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.peopleapps.JAXRSConfiguration</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <data-source>
        <name>java:global/acodihue_core</name>
        <class-name>org.postgresql.ds.PGSimpleDataSource</class-name>
        <server-name>${ENV=DATABASE_SERVER}</server-name>
        <database-name>${ENV=DATABASE_NAME}</database-name>
        <url>jdbc:postgresql://${ENV=DATABASE_SERVER}:${ENV=DATABASE_PORT}/${ENV=DATABASE_NAME}</url>
        <user>${ENV=DATABASE_USER}</user>
        <password>${ENV=DATABASE_PWD}</password>
    </data-source>

</web-app>